.menu-container {
    padding: 5px 20px;
}

.menu-container h2 {
    color: var(--primary-color);
    text-align: center;
    margin: 80px 0px 40px 0px;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
}

.menu-items button {
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
}

.menu-items button:hover, 
.menu-items button:focus,
.menu-items button.is-active {
    color: var(--primary-color);
}

.menu-container.professor {
    white-space: nowrap;
    text-overflow: ellipse;
}

.professor-menu-items button {
    width: 60%;
    font-size: medium;
    white-space: nowrap;
}

.professor-hints-item {
    font-size: 1.4em;
    font-weight: bold;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    width: 60%;
}


